@model Knjiznica.Presentation.Models.ValutaListViewModel

@{
    ViewData["Title"] = "RateByDateAndCurrency";
}

<p>
    <a asp-action="CurrencyByDate" class="btn btn-primary">Conversion rates by date</a>
    <a asp-action="Converter" class="btn btn-primary">Calculate</a>
    <a asp-action="View" class="btn btn-primary">All currency</a>
</p>

<form asp-action="RateByDateAndCurrency">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <dd class="col-sm-10">
        @Html.DisplayNameFor(model => model.ValuteList)
    </dd>

    @Html.DropDownListFor(m => m.ValuteList, new SelectList(Model.ValuteList, "Value"), "--Select currency--"
    ,new { @class = "form-control",

    })

    <div class="form-group">
        <input type="date" name="srcDate" Max="2050-01-01" onfocus="this.max=new Date().toISOString().split('T')[0]" />
    </div>

    <div class="form-group">
        <input type="submit" value="Calculate" class="btn btn-outline-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Valuta_ViewModelsList.FirstOrDefault().Drzava)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valuta_ViewModelsList.FirstOrDefault().Valuta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valuta_ViewModelsList.FirstOrDefault().Jedinica)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Valuta_ViewModelsList.FirstOrDefault().Srednji_tecaj)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Valuta_ViewModelsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Drzava)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valuta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jedinica)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Srednji_tecaj)
                </td>

            </tr>
        }
    </tbody>
</table>
